<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <% include partials/_style %>
  <title>Update URL</title>
</head>
<header>
  <% include ./partials/_header.ejs %>
</header>
<body>
  <div id="wrapper">
  <!-- Add your EJS code here -->
<h2><%= urls[key].url +" " %>Update</h2>
<p> ID: <%= key %> </p>
<form method="POST" action="/urls/<%= key %>/update">
  <label for="updateURL">Update a URL (include http://):</label>
  <input id="updateURL" type="text" name="updateURL" placeholder="http://updatedexample.com" style="width: 300px">
  <input type="submit" value="Update">
</form>
<div id="wrapper">
</body>
</html>