<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <% include partials/_style %>
  <title>Register</title>
</head>
  <header style="font-size: 16px; padding: 0px;">
   <% include partials/_header %>
  </header>
  <body>
    <div id="wrapper">
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Register here: </label> </br>
      <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px" autofocus> </br>
      <input id="password" type="password" name="password" placeholder="p4ssw0rd" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
   </div>
  </body>
</html>