<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <% include partials/_style %>
  <title>New URL</title>
</head>
  <header style="font-size: 16px; padding: 0px;">
   <% include partials/_header %>
  </header>
  <body>
    <div id="wrapper">
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL (with http://) to create an ID:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://example.com" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>