<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShowEjs</title>
</head>

<body>
  <!-- Add your EJS code here -->
<h2>Variable</h2>
<p><%= templateVars %></p>
<header>
  <% include ./partials/_header.ejs %>
</header>

</body>
</html>