<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <header>
    <%include ./partials/_header.ejs %>
  </header>
<body>
  <!-- Add your EJS code here -->
  <form method="POST" action="/urls/new">
    <h1> URLs
    <input type="submit" value="New URL">
    </h1>
  </form>


    <!-- need a forEach to show keys here -->
    <% for (key in urls) {%>
    <h2>
      <form method="POST" action="/urls/<%= key %>/delete">
      <%= key+"-->" %>
      <%= urls[key] %>
        <input type="submit" value="Delete">
      </form>
      <form method="POST" action="/urls/<%= key %>">
        <input type="submit" value="Edit">
      </form>
    </h2>
    <% } %>


</body>
</html>