<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShowEjs</title>
</head>
<header>
  <% include ./partials/_header.ejs %>
</header>
<body>
  <!-- Add your EJS code here -->
<h2>URL for ID provided</h2>
<p> URL: <%= urls[key] %></p>


</body>
</html>