<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Registration</title>
  </head>
  <header style="font-size: 16px; padding: 0px;">
   <% include partials/_header %>
  </header>
  <body style="font-size:20px; padding: 0px;">
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Register here: </label> </br>
      <input id="id" type="id" name="id" placeholder="username" style="width: 300px"> </br>
      <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px"> </br>
      <input id="password" type="password" name="password" placeholder="p4ssw0rd" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>