<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShowEjs</title>
</head>
<header>
  <% include ./partials/_header.ejs %>
</header>
<body>
  <!-- Add your EJS code here -->
<h2>Short URL for url provided</h2>
<p> ID: <%= shortURL %></p>


</body>
</html>