
<div class="container-fluid">
  <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
  Test Header
  <form style="display: inline;" method="GET" action="/urls">
    <input type="submit" value="Home">
  <form style="display: inline;" method="GET" action="/urls">
    <label for="username">Username:</label>
  <input id="username" type="text" name="username" placeholder="john123" style="width: 300px">
  <input type="submit" value="Submit">
  </form>
</div>
