<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Test Header
            <form style="display: inline;" method="GET" action="/urls">
              <input type="submit" value="Home">
            </form>
        </a>

    </div>

</div>
</nav>