<!DOCTYPE html>
<html lang="en">
<div class="container-fluid">
  <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
  Test Header
  <form style="display: inline;" method="GET" action="/urls">
    <input type="submit" value="Home">
  </form>
  <body>
    <% if(userID === undefined){ %>
    <form style="display: inline;" method="GET" action="/login">
      <input type="submit" value="Login">
    </form>
    <form style="display: inline;" method="GET" action="/register">
      <input type="submit" value="Register">
    </form>
    <% } else { %>
    <form style="display: inline;" method="POST" action="/logout">
      <%= 'Logged in as: ' + users[userID].email %>
      <input type="submit" value="Logout">
    </form>
    <% } %>
  </body>
</div>
